<h1> app root</h1>
<!--<button md-raised-button color="warn">WARN</button>-->

<!--<md-input placeholder="amount" align="start">-->
  <!--<span md-prefix>$&nbsp;</span>-->
  <!--<span md-suffix>.00</span>-->
<!--</md-input>-->
<!--<md-list>-->
    <!--<md-list-item> Pepper </md-list-item>-->
    <!--<md-list-item> Salt </md-list-item>-->
    <!--<md-list-item> Paprika </md-list-item>-->
<!--</md-list>-->
<!--<md-input   > </md-input>-->

 <!--<md-input placeholder="Address" value="1600 Amphitheatre Pkway"></md-input>-->
 <!--<md-checkbox [checked]="false" aria-label="My standalone checkbox"></md-checkbox>-->

